target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/*
*.iws
*.iml
*.ipr

!.idea/codeStyles
!.idea/inspectionProfiles

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### RSA Keys ###
src/main/resources/keys/**
## Fake keys
!src/main/resources/keys/privateRSAKey.pem
!src/main/resources/keys/publicRSAKey.pem

### Project
.hawapi/
.downloads/
/logs/
/src/main/resources/static/
